OnlineFoodOrderingApplication/Connected Services/ServiceReference1/addMe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderFoodAddUser" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderFoodAddUser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="userADD">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userADD" nillable="true" type="tns:userADD" />
</xs:schema>