OnlineFoodOrderingApplication/Connected Services/ServiceReference1/addMe2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64123/addMe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrderFoodAddUser" />
  <xs:element name="AddUSer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderFoodAddUser" minOccurs="0" name="useradd" nillable="true" type="q1:userADD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUSerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUSerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>